{#{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Welcome</h1>
    <p>Hello from a Twig template, {{ name }}!</p>

    <ul>
        {% for colour in colours %}
            <li>{{ colour }}</li>
            {% endfor %}
    </ul>

{% endblock %}#}

{% extends "base.html.twig" %}

{% block title %}Staff Status API{% endblock %}

{% block body %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-home">
                <h1>Staff Status API</h1>
            </div>
{#            <a href="/">Back To Homepage</a>#}
        </div>
    </div>
{% endblock %}
