{% extends "base.html.twig" %}

{% block title %}500 - Error{% endblock %}

{% block body %}
    {#<h1>Whoops!</h1>
    <p>It looks like an error has occurred :-(</p>#}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>500 - An error occurred</h2>
            </div>
            <a href="/">Back To Homepage</a>
        </div>
    </div>
{% endblock %}